@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  /* =========================
     COLORS
     ========================= */

  --color-on-primary-fixed-variant: #474746;
  --color-on-error-container: #93000a;
  --color-on-surface-variant: #444748;
  --color-primary: #000000;
  --color-tertiary-container: #131e13;
  --color-tertiary-fixed-dim: #bdcab9;
  --color-secondary-fixed: #e9e2d1;
  --color-primary-container: #1c1b1b;
  --color-on-primary-container: #858383;
  --color-outline-variant: #c4c7c7;
  --color-inverse-surface: #2f3131;
  --color-surface-container-high: #e8e8e8;
  --color-error-container: #ffdad6;
  --color-inverse-on-surface: #f1f1f1;
  --color-on-primary-fixed: #1c1b1b;
  --color-on-secondary: #ffffff;
  --color-surface-dim: #dadada;
  --color-tertiary-fixed: #d9e6d5;
  --color-on-primary: #ffffff;
  --color-inverse-primary: #c8c6c5;
  --color-on-tertiary: #ffffff;
  --color-surface-container-highest: #e2e2e2;
  --color-on-secondary-fixed-variant: #4a473a;
  --color-secondary-container: #e6dfce;
  --color-secondary: #625e51;
  --color-secondary-fixed-dim: #ccc6b5;
  --color-secondary: #625e51;
  --color-surface-container: #eeeeee;
  --color-on-tertiary-fixed-variant: #3e4a3d;
  --color-primary-fixed: #e5e2e1;
  --color-error: #ba1a1a;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #666355;
  --color-surface: #f9f9f9;
  --color-surface-container-low: #f3f3f3;
  --color-primary-fixed-dim: #c8c6c5;
  --color-surface-bright: #f9f9f9;
  --color-on-tertiary-fixed: #131e13;
  --color-on-surface: #1a1c1c;
  --color-on-error: #ffffff;
  --color-outline: #747878;
  --color-on-background: #1a1c1c;
  --color-surface-tint: #5f5e5e;
  --color-background: #f9f9f9;
  --color-surface-variant: #e2e2e2;
  --color-on-tertiary-container: #7a8778;
  --color-on-secondary-fixed: #1e1c11;
  --color-tertiary: #000000;

  /* =========================
     SPACING
     ========================= */

  --spacing-unit: 4px;
  --spacing-container-max: 1440px;
  --spacing-stack-md: 24px;
  --spacing-margin-mobile: 16px;
  --spacing-stack-sm: 8px;
  --spacing-stack-lg: 48px;
  --spacing-margin-desktop: 64px;
  --spacing-gutter: 24px;
  --spacing-section-gap: 96px;

  /* =========================
     FONT FAMILY
     ========================= */

  --font-caption: "Hanken Grotesk", sans-serif;
  --font-headline-lg: "Hanken Grotesk", sans-serif;
  --font-body-lg: "Hanken Grotesk", sans-serif;
  --font-headline-lg-mobile: "Hanken Grotesk", sans-serif;
  --font-headline-md: "Hanken Grotesk", sans-serif;
  --font-display: "Hanken Grotesk", sans-serif;
  --font-label-caps: "Hanken Grotesk", sans-serif;
  --font-body-md: "Hanken Grotesk", sans-serif;

  /* =========================
     FONT SIZE
     ========================= */

  --text-caption: 13px;
  --text-headline-lg: 32px;
  --text-body-lg: 18px;
  --text-headline-lg-mobile: 24px;
  --text-headline-md: 20px;
  --text-display: 48px;
  --text-label-caps: 12px;
  --text-body-md: 15px;

  /* =========================
     BORDER RADIUS
     ========================= */

  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

/* =========================
   GLOBAL
   ========================= */

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

html {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-on-surface);
  font-family: "Hanken Grotesk", sans-serif;
}

@theme inline {
  --font-heading: var(--font-sans);

  --font-sans: "Geist Variable", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --color-background: var(--background);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.87 0 0);

  --chart-2: oklch(0.556 0 0);

  --chart-3: oklch(0.439 0 0);

  --chart-4: oklch(0.371 0 0);

  --chart-5: oklch(0.269 0 0);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.87 0 0);

  --chart-2: oklch(0.556 0 0);

  --chart-3: oklch(0.439 0 0);

  --chart-4: oklch(0.371 0 0);

  --chart-5: oklch(0.269 0 0);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
